.chat-icon-button {
  position: fixed;
  bottom: 10px;
  right: 2px;
  z-index: 9999;
  background: rgb(243, 143, 13);
  color: rgb(252, 248, 248);
  font-size: 24px;
  border: none;
  border-radius: 50%;
  padding: 12px 14px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.chat-widget {
  position: fixed;
  bottom: 20px;
  right: 2px;
  width: 320px;
  height: 485px;
  background: rgb(239, 214, 214);
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 9999;
}

.chat-widget-header {
  background: rgb(248, 181, 11);
  color: rgb(1, 71, 19);
  padding: 10px;
  font-weight: 600;
  font-size: px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.chat-body {
  flex: 1;
  padding: 10px;
  background: #f7f7f7;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 80%;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.message.bot {
  background: #fee2e2;
  align-self: flex-start;
  text-align: left;
}

.message.user {
  background: #c3fcdb;
  align-self: flex-end;
  text-align: right;
}

.message .meta {
  font-size: 11px;
  color: #666;
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}

.message .status {
  margin-left: 8px;
  color: rgb(1, 66, 1);
}

.chat-footer {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 8px;
  background: rgb(255, 254, 253);
  position: sticky;
  bottom: 0;
}

.chat-footer input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
}

.chat-footer button {
  background: rgb(253, 162, 17);
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 14px;
  padding: 8px 16px;
  cursor: pointer;
}
.typing{
  padding-left: 3px;

}
.typing-dots {
  display: flex;
  padding-left: 3px;
  gap: 4px;
  font-size: 24px;
  animation: blink 1s infinite;
}

.typing-dots span {
  animation: bounce 1.2s infinite;
  color: green;
  font-weight: 900;
}

.typing-dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.typing-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(1);
    opacity: 0.2;
  }
  40% {
    transform: scale(1.5);
    opacity: 1;
  }
}
@media (max-width:750px){
  .chat-icon-button {
  position: fixed;
  bottom: 8px;
  right: 4px;
  z-index: 9999;
    background-color: rgb(253, 42, 19);
  color: rgb(252, 248, 248);
  font-size: 28px;
  border: none;
  border-radius: 50%;
  padding: 3px 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.chat-widget {
  position: fixed;
  bottom: 0px;
  right: 2px;
  width: 100vw;
  /* height: 485px; */
  height: 72vh;
  background: rgb(246, 242, 242);
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 9999;
}
.chat-widget-header {
    background-color: rgb(253, 42, 19);
  color: rgb(242, 249, 244);
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close-btn {
  background: none;
  border: none;
  font-weight: 400;
  color: rgb(251, 250, 250);
  font-size: 28px;
  cursor: pointer;
  
}

}
