.cart-page {
    width: 100%;
}

.cart {
    margin-top: 82px;
    width: 100%;
    margin-bottom: -50px;
}

.cart-items-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw, 12px);

}

.cart-items-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: #555; */
}

.title {
    color: rgb(20, 20, 27);
    margin: 10px 0px;
    font-weight: 500;
    font-size: 16px;

}

.cart-items-item {
    background-color: #f1dddd;
    padding-left: 4px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.image-title {
    color: rgb(20, 20, 27);
    margin: 10px 0px;
    font-weight: 500;
    font-size: 16px;
    text-align: start;

}

.item {
    width: 60px;
    border-radius: 30px;


}

.modification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    border-radius: 2px;
    border: rgb(254, 133, 88) 2px solid;
    padding: 0px 0px;
    max-width: 90px;
}

.remove {
    width: 24px;
    cursor: pointer;
    background-color: rgb(250, 118, 3);
    height: 100%;
    border-radius: 1px;
    border: rgb(254, 133, 88) 2px solid;

}

.cart hr {
    height: 1px;
    background-color: #e2e2e2;
}

.cart-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);

}

.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    color: #555;

}

.cart-total hr {
    margin: 10px 0px;

}

.cart-click {
    border: none;
    color: white;
    background-color: rgb(14, 213, 60);
    width: max(15vw, 200px);
    border-radius: 8px;
    cursor: pointer;
    padding: 12px 0px;
    /* margin-left: 30px; */
}

.cart-click-add {
    border: none;
    color: white;
    background-color: rgb(255, 116, 46);
    width: max(15vw, 200px);
    border-radius: 8px;
    cursor: pointer;
    padding: 12px 0px;
    margin-left: 60px;
}

.button-action {
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: space-between;
    /* gap: 70px; */
    padding: 10px;
}

.cart-promocode {
    flex: 1;
    text-align: start;
}

.cart-promocode p {
    color: #555;
    text-align: start;
    font-weight: 700;
    font-size: 16px;
    padding-left: 6px;
}

.cart-promocode-input {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 18px;
    border: 2px orange solid;

}

.cart-promocode-input input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
    margin-left: 10px;
    font-weight: 9OO;
    font-size: 16px;
    text-transform: uppercase;

}

.cart-promocode-input button {
    width: max(10vw, 150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 18px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;

}

.details {
    color: black;
    font-weight: 600;
    font-size: 20px;



}

.title-details {
    color: black;
    font-weight: 600;
    font-size: 16px;
    max-width: 80%;

}

@media (max-width:750px) {
    .cart-bottom {
        flex-direction: column-reverse;
    }

    .cart-promocode {
        justify-content: start;
    }

    .cart-click {
        border: none;
        color: white;
        width: 120px;
        background-color: rgb(6, 252, 63);
        /* width:max(12vw,150px) ; */
        border-radius: 8px;
        cursor: pointer;
        padding: 12px 0px;
        /* margin-left: 30px; */
    }


    .button-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        /* gap: 1px; */
    }

    .cart-click-add {
        border: none;
        color: white;
        background-color: rgb(254, 153, 37);
        /* width:max(12vw,200px) ; */
        border-radius: 8px;
        width: 120px;
        cursor: pointer;
        padding: 12px 0px;
        margin-left: 60px;
    }

    .cart-promocode-input button {
        /* width:max(10vw,150px); */
        padding: 10px 3px;
        width: 100px;
        background-color: black;
        border: none;
        color: white;
        border-radius: 18px;
        cursor: pointer;

    }

    .cart-promocode-input input {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 1px;
        margin-left: 15px;
        font-weight: 9OO;
        font-size: 16px;

    }

    .cart-items-title {
        display: none;
    }

    .cart-items-item {
        display: grid;
        /* font-size:2px ; */
        grid-template-columns: 1fr 2fr 1fr;
        gap: 2px;
        align-items: center;
        justify-content: space-between;
        align-items: center;
    }

    .details {
        text-align: start;
    }

    .item {
        width: 40px;
        height: 50px;
    }
}