/* .loading-state{
  justify-content: center;
  align-items: center;
  background-color:red;
  width: 10%;
  min-width:100%;
} */
.loading-text {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
}

.vot {
  opacity: 0.9;
  animation: pulse 1.5s infinite ease-in-out;
  color: rgb(254, 60, 26);
  font-size: 54px;
  
  transition: color 0.3s ease;
}

.dot1 {
  animation-delay: 0s;
}

.dot2 {
  animation-delay: 0.3s;
}

.dot3 {
  animation-delay: 0.6s;
}

@keyframes pulse {
  0%, 80%, 100% {
    opacity: 0.3;
    color: green;
  }
  40% {
    opacity: 1;
    color: limegreen;
  }
}
