.footer{
    color: #0a0a0a;
    background-color: #fed8b7;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
    border-top-left-radius: 180px;
    border-top-right-radius: -150px;
    box-shadow: 0px 0px 400px rgb(254, 116, 17);


}
.footer-content{
    padding-top: 0px;
    margin-top: -30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 80px;
}
.footer-content-left, .footer-content-right, .footer-content-center{
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 10px;

}
.footer-content-left li, .footer-content-right li, .footer-content-center li{
  list-style: none;
  cursor: pointer;
  color: rgba(5, 0, 0, 0.5);
  font-weight: 600;


}
.footer-content-left p{
    text-align: start;
}
 .footer-content-center ul{
  margin-top: -5px;
  row-gap: 5px;
  
}
 .com{
    row-gap: 15px;
    gap: 10px;
        
    

 }
.footer-content .social-icons{
    width: 40px;
    cursor: pointer;
}
.footer-content .social-icons:hover{
    
    transform: scale(1.05);

    
}
.ref{
   text-decoration: none;
}
.mailing{
    text-decoration: none;
    color: rgb(65, 65, 225);
}
.phone-call{
      text-decoration: none;
}
 .footer-content-right h2, .footer-content-center h2 ,.footer-content-left h2{
    color: rgb(23, 22, 22);
 
}
.reach-us:hover{
    color: rgb(250, 156, 4);
}

.footer-social-icons{
    margin-right: -35px;
    width: 40px;
    gap: 10px;
    display: flex;
    align-items: center;

}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: grey;
    border: none;
}
.footer-copyright{
    margin-top: -20px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer-logo{
   
    font-size: 200px;
}
.reach{
    display: flex;
    gap: 5px;
    align-items: center;
    padding-bottom: 6px;
    
}
@media (max-width:750px) {
    .footer{
        border-top-left-radius:40px;
        border-top-right-radius:40px;
        gap: 1px;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer-copyright{
        text-align: center;
    }
    .footer-content-left p{
    display: none;
}
    .footer-logo{
    /* display: none; */
    font-size: 100px;
    color: #d9d9d9;
}
 .footer-content-center ul{
  text-align: start;
  
}


    
}