.details-page{
  padding-top: 20px;
  padding-bottom: 30px;

}
.product-details-container {
  display: flex;
  flex-direction:row;
  /* padding: 20px; */
  gap: 20px;
  background-color: rgb(255, 187, 0);
  max-width: 100vw;
  /* margin: auto; */
  border-radius: 20px;
}

.product-details-image {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  
}
.product-details-description{
  font-size: 1rem;
  margin-top: 2px;
  color: #27271f;
  font-weight: 500;
  justify-content: flex-start;
  align-items: start;
  text-align: start;
}
.prduct-details-buttons{
  display: flex;
  gap:10px;
  justify-content: space-between;
  align-items: space-between;
  align-items: center;
  

}
.item-details-card{
  padding: 7px 20px;
  color: rgb(19, 3, 3);
  cursor: pointer;
  border: none;

  background-color: aqua;
  border-radius: 10px;
}
.product-details-price{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.product-details-button{
  border: none;
  color: white;
  background-color: #f10e0e;
  width: max(15vw,140px);
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 0px;
}

.product-details-info {
  padding: 10px;
  width: 100%;
  /* background: #f6a5a5; */
  border-radius: 10px;
}

@media (max-width:750px){
    .product-details-container {
  display: flex;
  flex-direction:column;
  padding: 20px;
  gap: 10px;
  max-width:100vw;
  margin: 2px;
}

}
